body{
color: black;
font-family: Arial;
background:#F7F2DE url('/images/pt_sweb2.gif') no-repeat fixed left bottom;
}
a{
color:#105E82;
}
h2{
font-family:inherit;
font-size:24px;
}
.motto{
font-size:20px;
font-style:italic;
color: #A3A3A3;
}
#container{
	width:900px;
	margin-left:auto;
	margin-right:auto;
	}
#header{
	padding-top:10px;
}
#seperator{
	clear:both;
	}
#left{
	width: 600px;
    position: relative;
    float: left;
    padding:10px;
}
#right{
	margin-left:2px;
	position: relative;
    float: left;
}
.welcometext{
	font-family:inherit;
	font-size:24px;
}
#signupboxrightmsg{
	width:200px;
	height:180px;
	border:0px solid #A3A3A3;
    -moz-border-radius: .5em; 
    -webkit-border-radius: .5em;
            border-radius: .5em;
     padding:10px;
    color:#000;
    margin-left:10px;
	}
#signupboxrightmsg p{
	font-size:14px;
	}

#signupboxrightmsgHeader{
	font-size:20px;
    border-bottom:1px solid #A3A3A3;
    color: #A3A3A3;
	}
#copyright{
    clear: both;
    font-size: 18px;
    color: #999999;
    padding-left:10px;
}
#loginbox{
	width:200px;
	height:200px;
	border:1px solid #A3A3A3;
    -moz-border-radius: .5em; 
    -webkit-border-radius: .5em;
            border-radius: .5em;
     padding:10px;
    color:#000;
    margin-left:10px;
}